<!DOCTYPE html>
<html>
<head>
  <title>InstaJobs</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="fragment" content="!">
  <%= favicon_link_tag '/assets/images/fav.ico' %>
  <%= render 'layouts/favicon' %>
  <%= javascript_include_tag '//cdn.polyfill.io/v1/polyfill.min.js?features=Intl.~locale.en' %>
  <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?sensor=false' %>
  <%= yield :head %>
</head>
<body>
	<%= yield %>
  <%= javascript_include_tag 'application' %>
</body>
</html>


